footer{
    position: relative;
}

#footer{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #252930;
    height: 60px;
    width: 100%;
    color: white;
    font-size: 12px;
}