.nav-bar{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.navbar-logo{
    width: 60%;
}

#logo{
    max-height: 50px;
    width: 50px;
}

#logo-text{
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 5px;
    margin: 0px 10px;
    color: green;
}

#homepage-link{
    display: flex;
    align-items: center;
    text-decoration: none;
}
