#nav-bar{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}


.navbar-logo{
    width: 60%;
}

#logo{
    color: green;
}

#logo-text{
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 5px;
    margin: 0px 10px;
    color: white;
}

#homepage-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    display: none;
    width: 240px;

    font-size: 26px;
    font-weight: 500;
    letter-spacing: 5px;
    margin: 0px 10px;
    color: white;
}

.navbar-link{
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 1000px){
    #nav-bar{
        flex-direction: column;
        justify-content: center;
        height: 140px;
    }

    #homepage-link{
        justify-content: center;
    }

    .navbar-link{
        padding: 5px 0px;
    }

    .navbar-logo{
        display: none;
    }
}

