#register-background{
    background: url('../img/farmers.jpg') center center;
    background-size: cover;
}

.background-image{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form{
    background-color: rgba(255,255,255, .7);
    margin-top: 100px;
    margin-bottom: 60px;
    max-width: 1200px;
    width: 80%;
    padding: 40px;
    box-shadow: 4px 4px 15px rgb(194, 191, 191), -2px -2px 25px rgb(194, 191, 191);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.farmer-data{
    width: 30%;
}

.product-data{
    width: 70%;
}

.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-title{
    font-size: 30px;
    color: green;
    width: 100%;
}

.product-picker{
    margin: 10px 0;
}

.product-select{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.product{
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 2px solid #a2a2a2;
    width: 90px;
    height: 90px;
    padding: 10px;
    text-align: center;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product input{
    display: none;
}

.product-icon{
    width: 50px;
}

.flex-text-fields{
    display: flex;
    margin: 30px 0px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.flex-text-fields input{
    width: 32%;
}

.input-text{
    color: rgb(61, 38, 17);
    text-align: left;
    font-size: 18px;
    line-height: 18px;
    outline: none;
    border: 2px solid rgb(221, 155, 95);
    border-width: 0px 0px 2px 0px;
    background: transparent;
}

.input-text::placeholder{
    text-align: left;
    font-size: 18px;
    line-height: 16px;
    color: rgb(61, 38, 17);
}

.input-text:focus{
    background: rgba(221, 155, 95, .2);
    border-color: green;
}

#register-textarea{
    width: 100%;
    resize: none;
    overflow: hidden;
}