#register-background{
    background: url('../img/farmers.jpg') center center;
    background-size: cover;
}

.background-image{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form{
    background-color: rgba(255,255,255, .7);
    margin-top: 100px;
    margin-bottom: 60px;
    max-width: 1200px;
    width: 80%;
    padding: 40px;
    box-shadow: 4px 4px 15px rgb(194, 191, 191), -2px -2px 25px rgb(194, 191, 191);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.register-form legend{
    margin: 5px 0;
    width: 100%;
    color: green;
    font-size: 20px;
}

.farmer-data{
    width: 25%;
    text-align: center;
}

.product-data{
    width: 72%;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-start{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.form-title{
    font-size: 30px;
    color: green;
    width: 100%;
}

.product-picker{
    margin: 10px 0;
}

.checkbox-select{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.wrap-checkbox{
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 2px solid #a2a2a2;
    text-align: center;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .2s;
}

.product{
    width: 90px;
    height: 90px;
    padding: 10px;
}

.certification{
    width: 100px;
    height: 100px;
}


.certification-icon{
    height: auto;
    max-width: 100%;
}

.product:hover{
    transform: scale(1.05);
    box-shadow: 1px 1px 10px rgb(189, 188, 188);
    transition: .2s;
}

.product p{
    margin: 10px 0;
}

.checkbox-select input{
    display: none;
}

.product-checkbox:checked + .product{
    background-color: rgba(38, 167, 66, 0.15);
    border: 2px solid green;
    color: green;
}

.certification-checkbox:checked + .certification{
    border: 2px solid green;
}

.product-checkbox:checked + .product svg path{
    fill: green;
}

.product-checkbox:checked + .product svg rect{
    fill: green;
}

.product-checkbox:checked + .product svg polygon{
    fill: green;
}

.flex-text-fields{
    display: flex;
    margin: 30px 0px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.flex-text-fields input{
    width: 32%;
}

.input-text{
    color: rgb(61, 38, 17);
    text-align: left;
    font-size: 18px;
    line-height: 18px;
    outline: none;
    border: 2px solid rgb(221, 155, 95);
    border-width: 0px 0px 2px 0px;
    background: transparent;
}

.input-text::placeholder{
    text-align: left;
    font-size: 18px;
    line-height: 16px;
    color: rgb(61, 38, 17);
}

.input-text:focus{
    background: rgba(221, 155, 95, .2);
    border-color: green;
}

#register-textarea{
    width: 100%;
    resize: none;
    overflow: hidden;
}

.terms-conditions{
    width: 100%;
    text-align: right;
}

.register-img-input{
    display: none;
}

.profile-img-label{
    cursor: pointer;
}

#profile-pic{
    margin-top: 50px;
    max-width: 140px;
}

@media screen and (max-width: 1000px){
    .register-form{
        margin: 150px 0px 100px 0;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .farmer-data{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    .product-data{
        width: 100%;
    }

    #bio{
        height: 12em;
    }

}